<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caojx.learn.demo.mapper.HealthRecordMapper">

  <resultMap id="BaseResultMap" type="com.caojx.learn.demo.entity.HealthRecord">
    <id column="record_id" jdbcType="BIGINT" property="recordId"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="level_id" jdbcType="BIGINT" property="levelId"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
  </resultMap>
  <sql id="Base_Column_List">
    record_id, user_id, level_id, remark
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from health_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from health_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.caojx.learn.demo.entity.HealthRecord">
    <selectKey keyProperty="recordId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into health_record(user_id, level_id, remark)
    values (#{userId,jdbcType=BIGINT}, #{levelId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.caojx.learn.demo.entity.HealthRecord" useGeneratedKeys="true" keyColumn="record_Id" keyProperty="recordId">
<!--    <selectKey keyProperty="recordId" order="AFTER" resultType="java.lang.Long">-->
<!--      SELECT LAST_INSERT_ID()-->
<!--    </selectKey>-->
    insert into health_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.caojx.learn.demo.entity.HealthRecord">
    update health_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.caojx.learn.demo.entity.HealthRecord">
    update health_record
    set user_id = #{userId,jdbcType=BIGINT},
	  level_id = #{levelId,jdbcType=BIGINT},
	  remark = #{remark,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>
